@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background: #FFFFFF;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
}
img {
	display: block;
	margin:auto;
	width: 400px;
}
nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #000000;
	text-align: center;
}
nav li {
	float: left;
	font-size: 1.2em;
	line-height: 80px;
	height: 80px;
}
nav a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding: 4px 10px 0px 10px;
	width: 120px;
	text-align: center;
}
nav a:hover, a:active {
	background-color: #5C595C;
}
/*
#wrapper {
	padding: 0px;
	margin: 0px;
}
*/
header {
	color: #FFFFFF;
	background-color: #9E889E;
	height: 110px;
	padding: 35px 0px 0px 60px;
}
section {
	float: none;
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
}
section h2 {
	padding: 0px 0px 0px 25px;
}
section p {
	margin: 2% 25% 4% 25%;
	text-align: justify;
}
footer {
	clear: both;
	padding: 10px 0px 0px 0px;
	text-align: center;
}
